.header {
  /* display: flex;
  justify-content: space-between;
  align-items: center; */
  /* height: 72px; */
  padding-top: 18px;
  padding-bottom: 18px;
  background-color: #9c9c9c;
  /* color: white; */
}

.headerContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav {
}

.authNav {
}
