.stories__footer {
    display: flex;
    justify-content: center;
    display: none;
}

@media screen and (min-width: 768px) {
    .stories__title {
        font-size: 44px;
    }

    .stories__footer {
        display: flex;
    }
}

@media screen and (min-width: 1440px) {
    .stories__title {
        font-size: 52px;
    }
}

.stories__more {

    background: #4169e1;
    color: #fff;
    border: none;
    border-radius: 12px;
    padding: 12px 28px;
    cursor: pointer;
    transition: 0.3s;
    font-family: var(--font-nunito-sans);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
}

@media screen and (min-width: 1440px) {
    .stories__more {
        font-size: 18px;
    }
}



.stories__more:hover {
    background: #E8EEFF;
    color: #0a0a0a;
    transform: translateY(-2px);
    box-shadow: 0 6px 12px rgba(59, 130, 246, 0.08);
    border: 1px solid #4169e1
}