.nav {
  /* display: none; */
}

.navHeader {
  display: none;
}

.navList {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}

.navListFooter {
  margin-bottom: 64px;
}

.navItem {
  margin-right: 12px;
  border: 1px solid transparent;
  border-radius: 8px;
  transition:
    border 250ms ease,
    background-color 250ms ease;

  /* padding-top: 4px;
  padding-bottom: 4px;
  width: 100%; */
  padding: 4px 10px;
}

/* .navItem:last-child {
  margin-right: 24px;
} */

.navItem:hover {
  border: 1px solid #000;
}

.navLink {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;

  color: #000;
}

/* .authNavItem {
  font-size: 40px;
} */

@media screen and (min-width: 1440px) {
  .nav {
    display: block;
  }

  .navHeader {
    display: block;
  }

  .navList {
    flex-direction: row;
  }

  .navItem {
  }

  .navItem:hover,
  .navItem:focus {
    border: 1px solid #fff;
  }

  .navItem:active {
    background-color: rgba(216, 216, 216, 0.2);
  }

  .navLink {
    font-size: 18px;
    color: #ffffff;
  }
}
