.nav {
  /* display: none; */
}

.navHeader {
  display: none;
}

.navList {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}

.navListFooter {
  margin-bottom: 64px;
}

.navItem {
  border: 1px solid transparent;
  border-radius: 8px;
  transition:
    border 250ms ease,
    background-color 250ms ease;

  /* padding: 4px 10px; */
  text-align: center;
  padding-top: 4px;
  padding-bottom: 4px;
  width: 100%;
}

.navItemHeaderMain {
  /* margin-right: 12px; */
}

.navItem:hover,
.navItem:focus {
  border: 1px solid #000;
}

.navItemHeaderMain:hover,
.navItemHeaderMain:focus {
  border: 1px solid #fff;
}

.navLink {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
}

.navLinkHeaderMain {
  color: #fff;
}

.navItemFooter {
  /* padding-left: 10px;
    padding-right: 10px; */
  width: 335px;
}

@media screen and (min-width: 768px) {
  .navFooter {
    grid-row: 2;
    grid-column: span 2;
  }

  .navListFooter {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 12px;
  }

  .navItemFooter {
    padding-left: 10px;
    padding-right: 10px;
    width: auto;
  }
}

@media screen and (min-width: 1440px) {
  .nav {
    display: block;
  }

  .navHeader {
    display: block;
  }

  .navFooter {
    grid-row: 1;
    grid-column: 3;
  }

  .navList {
    flex-direction: row;
    gap: 12px;
  }

  .navListFooter {
    gap: 12px;
  }

  .navItem {
    padding: 4px 10px;
    /* margin-right: 12px; */
    width: auto;
  }

  .navItem:active {
    background-color: rgba(216, 216, 216, 0.2);
  }

  .navLink {
    font-size: 18px;
  }
}
