.container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 4px;
}

@media screen and (max-width: 1439.98px) {
  .container {
    margin-top: -16px;
  }
}

.profileLink {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 8;

  border: 1px solid transparent;
  border-radius: 20px;

  padding: 4px;
}

.avatar {
  width: 32px;
  height: 32px;
}

.name {
  transition: color 250ms ease;
}

.profileLink:hover .name,
.profileLink:focus .name {
  /* text-decoration: underline; */
  color: #4169e1;
}
.profileLink:active .name {
  /* text-decoration: underline; */
  color: #1a2a5a;
}

.divider {
  width: 1px;
  height: 29px;
  background-color: rgba(0, 0, 0, 0.15);
}

.logoutLink {
  /* width: 32px;
  height: 32px; */
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 4px;
}

.logoutIcon {
  fill: #000;
  width: 24px;
  height: 24px;

  transition: fill 250ms ease;
}

.logoutLink:hover .logoutIcon,
.logoutLink:focus .logoutIcon {
  fill: #4169e1;
}

.logoutLink:active .logoutIcon {
  fill: #1a2a5a;
}

.nameMainPage {
  color: #fff;
}

.dividerMainPage {
  background-color: rgba(255, 255, 255, 0.2);
}

.logoutIconMainPage {
  fill: #fff;
}
