/* components/Footer/Footer.module.css  */

.footer {
  padding: 57px 32px 48px 32px;
  background-color: #e8eeff;
}

.footerContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.logoFooter .logoText {
  color: #000;
}

.copyRight {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.5;
}

.copyRight::before {
  position: absolute;
  display: block;
  transform: translateX(-50%);
  left: 50%;
  bottom: 50px;
  width: 335px;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.15);
  content: '';
}
