.stories-list {
    display: flex;
    flex-direction: column;
    gap: 24px;
    justify-content: center;
    align-items: center;

}


@media screen and (min-width: 768px) {
    .stories-list {

        flex-direction: row;
        flex-wrap: wrap;
    }
}

